.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  margin: 29px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 133px 117px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}